


@font-face {
  font-family: i;
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('/static/fonts/spindle.woff2') format('woff2');
 }



body {
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    color:#101010;
}


.col .s6 .offset-s6 .grid-example .user{

background-color: rgb(80, 174, 110);
}


[type='file'] {
-webkit-appearance: none;

color: #B71C1C;
}
[type='file']::-webkit-file-upload-button {
border-radius: 4px;
border: 0;
background: #B71C1C;
color: white;
padding: 7px;
font-family: 'Open Sans', sans-serif;
}
[type='file']::-webkit-file-upload-button:active, [type='file']::-webkit-file-upload-button:focus {
outline: 0;
}



/* basic positioning */
.legend { list-style: none; 
padding-top: 8px;
}
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .superawesome { background-color: #8FB0B3; }
.legend .awesome { background-color: #82BF72; }
.legend .kindaawesome { background-color: #478BCE; }
.legend .notawesome { background-color: #D2447A; }
.legend .enpause { background-color: #D0CA40; }
.legend .engestion { background-color: #A36AA5; }



  
/*Progress bar*/

.progre {
 width: 100px;;

}

.progressi {
overflow: hidden;
height: 18px;

background-color: #253F94;
background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#253F94), to(#f9f9f9));
background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
background-image: linear-gradient(top, #253F94, #f9f9f9);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);

-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}

.progressi .barr {
width: 0%;
height: 18px;
  
  
background-color: #5DA571;

background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
  
-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
  
-webkit-transition: width 0.6s ease;
-moz-transition: width 0.6s ease;
-ms-transition: width 0.6s ease;
-o-transition: width 0.6s ease;
transition: width 0.6s ease;
}


.vertical{

	
    position: absolute;
    z-index: 100;
    top: 56px;
    border-radius: 0px;

}


.graficos{

  
    position: absolute;
    z-index: 100;
    top: 356px;
    border-radius: 0px;

}





.col-sm-6, .col-sm-12{

color: #202127;

}



.animate.ng-enter {
  transition: opacity 1s;
  opacity:0;
  overflow: hidden;
}

.animate.ng-enter-active {
  opacity:1;
  overflow: hidden;

}

.animate.ng-leave {
  transition: opacity 1s;
  height: 0px;
  opacity:0;
  overflow: hidden;
}

.animate.ng-leave-active {
  opacity:1;
  overflow: hidden;

}

.animate1.ng-enter {
  transition: opacity 1s;
  opacity:0;
  overflow: hidden;
}

.animate1.ng-enter-active {
  opacity:1;
  overflow: hidden;

}

.animate1.ng-leave {
  transition: opacity 1s;
  height: 0px;
  opacity:0;
  overflow: hidden;
}

.animate1.ng-leave-active {
  opacity:1;
  overflow: hidden;

}