<!DOCTYPE html>

<html lang="en" >

{% include "head.html" %}

<script src="/static/js/admincampania.js"></script>

<body ng-app="App" ng-controller="Controller">




<div class ='vertical' style="position: absolute;">
  <div class='vertical'> {% include "vertical.html" %} </div>
 
</div>


<div  class ='container'  >

{% include "header.html" %}





	<div class="panel panel-default">
  <div class="panel-body">
  	<div class='row'>
	  	<div class="col-md-4"><h4><i class="fa fa-user"></i> Asignacion de Agentes </h4>
	  	</div>
	  	<div class="col-md-4"><h4><i class="fa fa-cube"></i> Campaña {[{campana}]} </h4>
	  	</div>
	  	<div class="col-md-4"><h4><i class="fa fa-building-o"></i>  Cartera  {[{cartera}]} </h4>
	  	</div>
  	</div>
    
   
  </div>
</div>


 <a class='btn btn-primary' ng-href='/filtros/{[{camp}]}'> <i class="fa fa-filter"></i> Filtros </a>
    <a class='btn btn-primary'ng-href='/monitoreo/{[{camp}]}'> <i class="fa fa-video-camera"></i> Monitor </a>


<!--{% include "botoncampania.html" %}-->




  <div class="panel-body" onmouseover="container()">

    	<div class='row'>
  	 	<div class="col-sm-6">
  	 		<div class='row'>

  	 			<h5>Usuarios Disponibles</h5>
  	 			<div class="col-sm-2">
				<a ng-click="agregaruser()" class="btn btn-primary" >Agregar</a>
				</div>
  	 			

				<div class="col-sm-8">
				<form class="navbar-search pull-left" action="">
				<input placeholder="Buscar" ng-change="search()"  type="text" ng-model="tipo" class="form-control" >
				</form>
				</div>


				<div class="col-sm-2">
				{[{contador1}]}
				</div>

				
			</div>

  	 		

			

			<br>
			<table class="table table-striped table-condensed table-hover ">
				<tbody>
				<thead>
	           		<th >Selecccionar </th>
	                <th >Estado </th>
	                <th >Nombre</th>
	                <th></th>
					</tr>

	            </thead>
	            <tr  class='animate' ng-repeat="contact in usuarios " class='active' ts-repeat>

	                <td><input type="checkbox" ng-model='contact.seleccionar' ng-change="add($index,contact)"></td>
	                <td>{[{contact.estado}]}</td>
	                <td>{[{contact.name}]}</td>

	            </tr>
	            </tbody>

            </table>				
		</div>
		<div class="col-sm-6">

			<div class='row'>
			<h5>Usuarios que pertenecen a esta Campaña</h5>

				<div class="col-sm-2">
				<a ng-click="quitaruser()" class="btn btn-primary" >Quitar</a>	

				</div>

				<div class="col-sm-8">
				<form class="navbar-search pull-left" action="">
				<input placeholder="Buscar" ng-change="search1()"  type="text" ng-model="tipo1x" class="form-control" >
				</form>

				</div>

				<div class="col-sm-2">
				{[{contador2}]}

				</div>
			</div>
	<br>
			
		
			
			<table class="table table-striped table-condensed table-hover ">
				<tbody>

				 <thead>

	            <tr><th >Seleccionar </th>
	                <th >Estado </th>
	                <th >Nombre</th><th></th></tr>
	            </thead>

	            <tr class='animate' ng-repeat="contact in usuarioscampania " class='active' ts-repeat>
	             	<td><input type="checkbox" ng-model='contact.seleccionar' ng-change="add($index,contact)"></td>
	                <td>{[{contact.estado}]}</td>
	                <td>{[{contact.name}]}</td>
	            </tr>
            </tbody>

            </table>							 
		</div>
	</div>



  </div>



  <style type="text/css">

  .tt{

  	float:right;
  	}



  	</style>









</div>



</div>





</body>



</html>
