
      <div class='row' >
      <div class="col-md-2 col-sm-2 panel panel-default btnc" ng-href='/adminCampania/{[{camp}]}'>

          <div class=' panel-body '>
          Agentes <i class="fa fa-user"></i>

          </div>
      </div>

      <div class="col-md-2 col-sm-2 panel panel-default btnc">

      <div class=' panel-body '>
      Filtros <i class="fa fa-filter"></i>
      </div>

      </div>

      <div class="col-md-2 col-sm-2 panel panel-default btnc">

      <div class=' panel-body  '>
      Monitoreo  <i class="fa fa-video-camera"></i>

      </div>

      </div>

  
      </div>

      <style>

.btnc {
  text-align: center;
  height: 50px;
  background: #BF3737;
  color: #FFF;
  font-weight: bold;
  margin-left: 0px;
  font-size: 14px;
  transition: .5s;
}
.btnc:hover{

background: #fff;
color: #EF5350;
font-size:15px;

}
</style>
