<!DOCTYPE html>

<html lang="en" ng-app="App" ng-controller="Controller">

{% include "head.html" %}

<script src="/static/js/campania.js"></script>

<body >

<div class="container" >

{% include "header.html" %}


<!--si, debe tener celeste cuando esta lanzando, naranja cuando termino la campaña y blando apagado-->


<div id="edit" class="modal fade" role="dialog">

  <div class="modal-dialog">

    <div class="modal-content">

        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Editar</h4>
        </div>
        <div class="modal-body">

        <div class="row">

        <form ng-submit="saveContact(index,numberPage)">


        <div class="col-md-6">
        <label>Username</label>
        <input type="text" class="form-control" ng-model="model.username" required ="" >
        </div>

      

        <div class="col-md-6">
        <label>Email</label>
        <input type="email" class="form-control" ng-model="model.email" required ="" >
        </div>

        <div class="col-md-6">
        <label>Empresa</label>
        <input type="text" class="form-control" ng-model="model.empresa" required ="" >
        </div>

        <div class="col-md-6">
        <label>Nivel</label>
        <input type="text" class="form-control" ng-model="model.nivel" required =""  >
        </div>



</div>
</div>


      <div class="modal-footer">
           <button type="submit" class="btn btn-primary">Editar</button>
      </div>

      </form>



    </div>

  </div>
</div>

<div id="eliminar" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Eliminar</h4>
      </div>
        <div class="modal-body">

        <td><input type="hidden" ng-model="model.id" required ="" /></td>
       
        <h4>Desea eliminar campaña {[{model.nombre}]}</h2>
        </div>

        <div class="modal-footer">

            <button class="btn" data-dismiss="modal">Cerrar</button>
            <button type="submit" ng-click="eliminarContact(index,currentPage)" class="btn btn-primary">Eliminar</button>
            

        </div>
    </div>

  </div>
</div>

<div id="reasignar" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Editar Campaña {[{model.nombre}]}</h4>
      </div>
        <div class="modal-body" ng-if="user.nivel == 1">


       


        <form ng-submit="reasig(model)">




          <div class="form-group">
          <label>Canales</label>
          <input type="text" ng-model="model.canales" class="form-control" />
          </div>
         


          <div class="form-group">
          <label>Discado</label>
          <select ng-change='discadoget(model.discado)' name = 'discado' class="form-control" ng-model = 'model.discado'>
         
              <option value='2'>Predictivo</option>
              <option value='1'>Progresivo</option>
          
          </select>
          </div>


          <div class="form-group">
          <label>Password</label>
            <input type="text" ng-model="model.password" class="form-control" />
          </div>
         
         



          <div class="form-group" ng-show ='discado'>
          <label>Factor</label>
          <select name = 'factor' class="form-control" ng-model='model.factor'>
         
              <option value='1'>1</option>
              <option value='2'>2</option>
              <option value='3'>3</option>
              <option value='4'>4</option>
              <option value='5'>5</option>
          
          </select>
          </div>
          


 <label>Supervisor</label>
        <select ng-model="model.supervisor" class="form-control" ng-options="cliente.id as cliente.user__first_name for cliente in supervisores" required =""></select>


        <br></br>


        <button class="btn" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Aceptar</button>
        </form>

       
      
      
        </div>

     


    </div>

  </div>
</div>



<h4>Campañas</h4>


      <div class='row'>
      <div class="col-md-2">  <button ng-if="user.nivel == 1 || user.nivel == 2" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Crear Campaña</button></div>
      <div class="col-md-4"><input placeholder="Buscar" ng-change="search()"  type="text" ng-model="tipo" class="form-control" ></div>

      
<style>
/* basic positioning */
.legend { list-style: none; 
padding-top: 0px;
}
.legend li { float: left; margin-right: 10px;   width: 82px;}
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .apagado { background-color: #E8E8E8; }
.legend .activado { background-color: #3AAED8; }
.legend .finalizado { background-color: #F58C48; }
.legend .sinfiltros { background-color: #3EBE84; }





</style>


      <div class="col-md-4"> 
      <ul class="legend">
          <li><span class="apagado"></span> Apagado</li>
          <li><span class="activado"></span> Activado</li>
          <li><span class="finalizado"></span> Finalizado</li>
          
          <!--<li><span class="sinfiltros"></span> Sin Filtros</li>-->
        
      </ul>

      </div>
      <div class="col-md-2"> Cantidad de Registros {[{contador}]}</div>


    </div>
    <br></br>

 


    <table class="table table-condensed table-hover ">
    
        <tbody>

            <thead>

            <tr>

                   <th>Id <a ng-click="sort_by('id',currentPage)"></a></th>
                    <th>Nombre <a ng-click="sort_by('nombre',currentPage)"></a></th>
                    <th ng-if="user.nivel == 4">Empresa <a ng-click="sort_by('supervisor__user__empresa__nombre',currentPage)"></a></th>
                  <th>Cartera <a ng-click="sort_by('cartera__nombre',currentPage)"></a></th>
                  
                  
                  <th>Cargados| Barridos | Errados <a ng-click="sort_by('empresa',currentPage)"></a></th>
                  <th>Agentes | Conectados <a ng-click="sort_by('nivel',currentPage)"></a></th>
                  <th>Fecha Carga</th>
                   <th ng-if="user.nivel == 1">Supervisor <a ng-click="sort_by('supervisor',currentPage)"></a></th>
                   <th ng-if="user.nivel == 1" >Password <a ng-click="sort_by('supervisor',currentPage)"></a></th>
                  <th></th>
                  <th></th>
        
                        

            </tr>

            </thead>

   <tfoot>
                    <td colspan="12">
                      <ul class="pagination" ng-repeat="n in toto">
                      <li ng-class="{active: n-1 == currentPage}"><a href="#" ng-click="setPage()">{[{n}]}</a></li>
                      </ul>
      
                    </td>
                </tfoot>

                <tr ng-repeat="contact in clientes| orderBy:['-id','-id_filtro'] " ts-repeat>

                <td style='background:{[{contact.color}]}; color:{[{contact.font}]};'>{[{contact.id}]} </td>

                <td ng-if="contact.filtro=='1'" style='background:{[{contact.color}]}; color:{[{contact.font}]};'>{[{contact.nombre}]} </td>

                <td ng-if="contact.filtro=='0'" style='background:{[{contact.color}]}; color:{[{contact.font}]};'>{[{contact.estadoname}]} </td>
                
                <td style='background:{[{contact.color}]}; color:{[{contact.font}]};' ng-if="user.nivel == 4" >{[{contact.supervisor__user__empresa__nombre}]} </td>

                <td style='background:{[{contact.color}]}; color:{[{contact.font}]};'> {[{contact.cartera__nombre}]}</td>

                <td ng-if="contact.filtro=='1'" style='background:{[{contact.color}]}; color:{[{contact.font}]};'>{[{contact.cargados}]} | {[{contact.barridos}]}  | {[{contact.errados}]}  </td>

                <td ng-if="contact.filtro=='0'" style='background:{[{contact.color}]}; color:{[{contact.font}]};'>{[{contact.ciudad | limitTo: 30}]} </td>

                <td ng-if="contact.filtro=='1'" style='background:{[{contact.color}]}; color:{[{contact.font}]};' >{[{contact.totalagentes}]} | {[{contact.conectados}]}</td>

                <td ng-if="contact.filtro=='0'" style='background:{[{contact.color}]}; color:{[{contact.font}]};' >{[{contact.segmento}]} </td>

                <td ng-if="contact.filtro=='1'" style='background:{[{contact.color}]}; color:{[{contact.font}]};'>{[{contact.fecha_cargada  | limitTo: 19}]}</td>

                <td ng-if="contact.filtro=='0'" style='background:{[{contact.color}]}; color:{[{contact.font}]};'>{[{contact.grupo}]}</td>
                
                <td style='background:{[{contact.color}]}; color:{[{contact.font}]};' ng-if="user.nivel == 1">{[{contact.supervisor__user__first_name}]}</td>
                <td style='background:{[{contact.color}]}; color:{[{contact.font}]};' ng-if="user.nivel == 1">{[{contact.password}]}</td>


                <td ng-if="contact.filtro=='1'">
                
                <button ng-show="contact.a" class="btn btn-primary btn-sm" ng-click='filtros(contact)'><i class="fa fa-plus"></i></button>
                <button ng-show="contact.b" class="btn btn-primary btn-sm" ng-click='ocultafiltros(contact)'><i class="fa fa-minus"></i></button>

                <button ng-if="user.nivel == 1" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#reasignar" ng-click='Reasignar(contact)'><i class="fa fa-edit"></i></button>

                <button ng-if="user.nivel == 1 || user.nivel == 2" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#eliminar" ng-click='Reasignar(contact)'><i class="fa fa-trash"></i></button>
                <button class="btn btn-primary btn-sm" ng-click='Admin(contact)'> Administrar <i class="fa fa-chevron-right"></i></button>

                </td>

                <td ng-if="contact.filtro=='0'">

                  <a ng-if="contact.ciudad != 'Filtro 1'" ng-click="eliminar(contact,$index)" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#eliminarfiltro"><i class="icon-trash"></i> </a>

                  <a ng-if="contact.ciudad != 'Filtro 1' && contact.estado == 0" ng-click="desactivafiltro(contact,$index)" class="btn btn-primary btn-sm" ><center><i class="fa fa-stop"></i></center></a>


                  <a ng-if="contact.ciudad != 'Filtro 1' && contact.estado == 1" ng-click="activafiltro(contact,$index)"  class="btn btn-primary btn-sm"  ><center><i class="fa fa-play"></i></center> </a>

                </td>

              

                </tr>


        </tbody>


        </table>


<!--Preload


      <div class="svg-container" id="boxContainer">
        <svg id="boxLoader" width="70px" height="70px" viewBox="0 0 35 35" preserveAspectRatio="none">
          <rect x="0" fill="#fff" width="35" height="35" />
        </svg>
        <svg id="base" width="210px" height="210px" viewBox="0 0 105 105" preserveAspectRatio="none">
          <line stroke-width="1.5" fill="none" stroke="#383845" stroke-miterlimit="10" x1="0" y1="52.5" x2="105" y2="52.5" />
        </svg>
      </div>-->
  

<!--Fin-->


<!---Modal-->


            <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Crear Campaña </h4>
        </div>
        <div class="modal-body">


       
          <div class="row">

                    <form action="/uploadCampania/" method="post"  role="form" enctype="multipart/form-data">

          {% csrf_token %}

          <div class="col-md-12">
          <div class="form-group">
          <label>Importar Data</label>
          <input type="file" required=""  name="process_file">
          </div>
          </div>

          <div class="col-md-12">
          <div class="form-group">
         
          <a class='btn btn-primary btn-sm' href='http://xiencias.com/campania.xls'>Plantilla <i class="fa fa-file-excel-o"></i></a>
          </div>
          </div>

          <div class="col-md-12">
          <div class="form-group">
          <label>Nombre de campaña</label>
          <input type="text"  name = 'nombre' class="form-control" placeholder="Nombre" required ="">
          </div>
          </div>

          <div class="col-md-4">
          <div class="form-group">
          <label>Cartera</label>
          <select name = 'cartera' class="form-control">
          {% for cartera in cartera%}
              <option value='{{cartera.cartera.id}}'>{{cartera.cartera.nombre}}</option>
          {% endfor %}
          </select>
          </div>
          </div>

          <div class="col-md-4">
          <div class="form-group">
          <label>Cantidad de Canales</label>
          <input type="number"  ng-model ='canal' ng-change='cantcanal(canal)' name = 'canales' class="form-control" placeholder="Canales" required ="">
          </div>
          </div>

          <div class="col-md-4">
          <div class="form-group">
          <label>Timbrados</label>
          <input type="text"  name = 'timbrados' class="form-control" placeholder="Timbrados" value = "4" required ="">
          </div>
          </div>


          <div class="col-md-4">
          <div class="form-group">
          <label>Hora de trabajo Inicio</label>
          <input type="time"  name = 'inicio' class="form-control" placeholder="Hora Inicio" required ="" value='08:00'>
          </div>
          </div>

          <div class="col-md-4">
          <div class="form-group">
          <label>Hora de trabajo Fin</label>
          <input type="time"  name = 'fin' class="form-control" placeholder="Hora Fin" required ="" value='19:00'>
          </div>
          </div>

          <div class="col-md-4">
          <div class="form-group">
          <label>Supervisor</label>

          <select name = 'supervisor' class="form-control">
          {% for supervisor in supervisor%}
              <option value='{{supervisor.id}}'>{{supervisor.user.first_name}}</option>
          {% endfor %}
          </select>
         
          </div>
          </div>


              <div class="col-md-4">
          <div class="form-group">
          <label>Discado</label>
          <select ng-change='discadoget(discadom)' name = 'discado' class="form-control" ng-model = 'discadom'>
         
              <option value='2'>Predictivo</option>
              <option value='1'>Progresivo</option>
          
          </select>
          </div>
          </div>



            <div class="col-md-4" ng-show ='discado'>
          <div class="form-group">
          <label>Factor</label>
          <select name = 'factor' class="form-control">
         
              <option value='1'>1</option>
              <option value='2'>2</option>
              <option value='3'>3</option>
              <option value='4'>4</option>
              <option value='5'>5</option>
          
          </select>
          </div>
          </div>

        

           <div ng-show='mpass' class="col-md-4">
          <div class="form-group">
          <label>Clave</label>
          <input type="text"  name = 'password' class="form-control" placeholder="Nombre" required ="" value='{{password}}'>
          </div>
          </div>


          
         <div class="col-md-12">
          <div class="form-group">
       
         <h4>Indicadores de Control (KPI)</h4>
          </div>
          </div>



          <div class="col-md-6">
          <div class="form-group">
          <label>Minutos por llamada (min)</label>
          <input type="text" required=""  class="form-control" name="mxllamada" placeholder = "Minutos por llamada" value='2'>
          </div>
          </div>


          <div class="col-md-6" ng-show='a'>
          <div class="form-group">
          <label>Llamadas por hora </label>
          <input type="text"  name = 'llamadaxhora' class="form-control" placeholder="Llamadas por hora" required ="" value="25">
          </div>
          </div>

          <div class="col-md-6">
          <div class="form-group">
          <label>Horas hombre objetivo (%)</label>
          <input type="text"  name = 'hombreobjetivo' class="form-control" placeholder="Horas hombre" required ="" value="80">
          </div>
          </div>

          <div class="col-md-6" ng-show='a'>
          <div class="form-group">
          <label>Tiempo Max Gestion (seg)</label>
          <input type="number"  name = 'tgestion' class="form-control" placeholder="Tiempo gestion" required ="" value="60">
          </div>
          </div>

          

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" type="submit">Agregar</button>
          </form>
          
        </div>
      </div>
    </div>

</div>


<!--Model Stop Campania-->



  <div class="modal fade" id="pararcampania" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Parar Campaña {[{model.nombre}]} </h4>
        </div>
        <div class="modal-body">


      

      
          <h4>Desea parar esta campaña</h4>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" type="submit" ng-click="parar(model)">Detener</button>
  
          
        </div>
      </div>
    </div>

</div>

  <div class="modal fade" id="activarcampania" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Activar Campaña {[{model.nombre}]} </h4>
        </div>
        <div class="modal-body">


      

      
          <h4>Desea activar esta campaña</h4>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" type="submit" ng-click="activar(model)">Activar</button>
  
          
        </div>
      </div>
    </div>

</div>

<!--Eliminar-->

<div id="eliminarfiltro" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Eliminar filtro</h4>
      </div>

      <div class="modal-body">

      <div class ='row'>

    

      <div class="col-md-12">
 
       <table class="table table-striped table-condensed table-hover table-bordered ">
                      <tbody>

                      <thead>
                          <tr>
                        
                          <th >Ciudad </th>
                          <th >Segmento </th>   
                          <th >Grupo </th> 
                          
                          
                          </tr>
                      </thead>
                       
                      <tr>
                          
                
                  
                      <td>{[{model.ciudad}]}</td>
                      <td>{[{model.segmento}]}</td>
                      <td>{[{model.grupo}]}</td>
                     
                      
                  

                      </tr>


                      </tbody>
                  </table>

            </div>

          </div>

      </div>

      <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Cerrar</button>
      <button type="submit" ng-click="eliminarfiltro(model)" class="btn btn-primary">Eliminar</button>
      </div>
    </div>

  </div>
</div>



<style type="text/css">
  
.confirm .btn .btn-primary{


  background-color: #233;
}

th {
  text-align: center;
}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
  padding: 5px;
  text-align: center;
}

</style>



  <script src="/static/js/angular-route.js"></script>
  <script src="/static/js/preload.js"></script>




</body>



</html>