<!DOCTYPE html>

<html lang="en" ng-app="App" ng-controller="Controller">

{% include "head.html" %}

<script src="/static/js/campania.js"></script>

<body >

<div class="container" >

{% include "header.html" %}


<div id="edit" class="modal fade" role="dialog">

  <div class="modal-dialog">

    <div class="modal-content">

        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Editar</h4>
        </div>
        <div class="modal-body">

        <div class="row">

        <form ng-submit="saveContact(index,numberPage)">


        <div class="col-md-6">
        <label>Username</label>
        <input type="text" class="form-control" ng-model="model.username" required ="" >
        </div>

      

        <div class="col-md-6">
        <label>Email</label>
        <input type="email" class="form-control" ng-model="model.email" required ="" >
        </div>

        <div class="col-md-6">
        <label>Empresa</label>
        <input type="text" class="form-control" ng-model="model.empresa" required ="" >
        </div>

        <div class="col-md-6">
        <label>Nivel</label>
        <input type="text" class="form-control" ng-model="model.nivel" required =""  >
        </div>



</div>
</div>


      <div class="modal-footer">
           <button type="submit" class="btn btn-primary">Editar</button>
      </div>

      </form>



    </div>

  </div>
</div>

<div id="eliminar" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Eliminar</h4>
      </div>
        <div class="modal-body">

        <td><input type="hidden" ng-model="model.id" required ="" /></td>
       
        <h4>Desea eliminar campaña {[{model.nombre}]}</h2>
        </div>

        <div class="modal-footer">

            <button class="btn" data-dismiss="modal">Cerrar</button>
            <button type="submit" ng-click="eliminarContact(index,currentPage)" class="btn btn-primary">Eliminar</button>
            

        </div>
    </div>

  </div>
</div>

<div id="reasignar" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Editar Campaña {[{model.nombre}]}</h4>
      </div>
        <div class="modal-body" ng-if="user.nivel == 1">


       


        <form ng-submit="reasig(model)">




          <div class="form-group">
          <label>Canales</label>
          <input type="text" ng-model="model.canales" class="form-control" />
          </div>
         


          <div class="form-group">
          <label>Discado</label>
          <select ng-change='discadoget(model.discado)' name = 'discado' class="form-control" ng-model = 'model.discado'>
         
              <option value='1'>Predictivo</option>
              <option value='2'>Progresivo</option>
          
          </select>
          </div>


          <div class="form-group">
          <label>Password</label>
            <input type="text" ng-model="model.password" class="form-control" />
          </div>
         
         



          <div class="form-group" ng-show ='discado'>
          <label>Factor</label>
          <select name = 'factor' class="form-control" ng-model='model.factor'>
         
              <option value='1'>1</option>
              <option value='2'>2</option>
              <option value='3'>3</option>
              <option value='4'>4</option>
              <option value='5'>5</option>
          
          </select>
          </div>
          


 <label>Supervisor</label>
        <select  ng-model="model.supervisor" class="form-control" ng-options="cliente.id as cliente.user__first_name for cliente in supervisores" required =""></select>


        <br></br>


        <button class="btn" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Aceptar</button>
        </form>

       
      
      
        </div>

     


    </div>

  </div>
</div>



<h4>Campañas</h4>


      <div class='row'>
      <div class="col-md-2">  <button ng-if="user.nivel == 1 || user.nivel == 2" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Crear Campaña</button></div>
      <div class="col-md-8"><input placeholder="Buscar" ng-change="search()"  type="text" ng-model="tipo" class="form-control" ></div>

      <div class="col-md-2"> Cantidad de Registros {[{contador}]}</div>
    </div>
    <br></br>

    <table class="table table-condensed table-hover ">
    
        <tbody>

            <thead>

            <tr>

                   <th>Id <a ng-click="sort_by('id',currentPage)"><i class="icon-sort"></i></a></th>
                    <th>Nombre <a ng-click="sort_by('nombre',currentPage)"><i class="icon-sort"></i></a></th>
                    <th ng-if="user.nivel == 4">Empresa <a ng-click="sort_by('supervisor__user__empresa__nombre',currentPage)"><i class="icon-sort"></i></a></th>
                  <th>Cartera <a ng-click="sort_by('cartera__nombre',currentPage)"><i class="icon-sort"></i></a></th>
                  <th>Estado <a ng-click="sort_by('status',currentPage)"><i class="icon-sort"></i></a></th>
                 
                  
                  <th>Cargados| Barridos | Errados <a ng-click="sort_by('empresa',currentPage)"><i class="icon-sort"></i></a></th>
                  <th>Agentes | Conectados <a ng-click="sort_by('nivel',currentPage)"><i class="icon-sort"></i></a></th>
                  <th>Fecha Carga</th>
                   <th>Supervisor <a ng-click="sort_by('supervisor',currentPage)"><i class="icon-sort"></i></a></th>
                   <th ng-if="user.nivel == 1" >Password <a ng-click="sort_by('supervisor',currentPage)"><i class="icon-sort"></i></a></th>
                  <th></th>
                  <th></th>
        
                        

            </tr>

            </thead>

   <tfoot>
                    <td colspan="12">
                      <ul class="pagination" ng-repeat="n in toto">
                      <li ng-class="{active: n-1 == currentPage}"><a href="#" ng-click="setPage()">{[{n}]}</a></li>
                      </ul>
      
                    </td>
                </tfoot>


              <tr   ng-repeat="contact in pagedItems[currentPage]  " ts-repeat>

                <td style='background:{[{contact.color}]}; color:{[{contact.font}]};'>{[{contact.id}]} </td>
                <td style='background:{[{contact.color}]}; color:{[{contact.font}]};'>{[{contact.nombre}]} </td>
                
                <td style='background:{[{contact.color}]}; color:{[{contact.font}]};' ng-if="user.nivel == 4" >{[{contact.supervisor__user__empresa__nombre}]} </td>
                <td style='background:{[{contact.color}]}; color:{[{contact.font}]};'> {[{contact.cartera__nombre}]}</td>
                <td style='background:{[{contact.color}]}; color:{[{contact.font}]};'> {[{contact.estado}]}</td>
                
               
                <td  style='background:{[{contact.color}]}; color:{[{contact.font}]};'>{[{contact.cargados}]} | {[{contact.barridos}]}  | {[{contact.errados}]}  </td>

               

                <td style='background:{[{contact.color}]}; color:{[{contact.font}]};' >{[{contact.totalagentes}]} | {[{contact.conectados}]}</td>
                <td style='background:{[{contact.color}]}; color:{[{contact.font}]};'>{[{contact.fecha_cargada}]}</td>
                
                <td style='background:{[{contact.color}]}; color:{[{contact.font}]};'>{[{contact.supervisor__user__first_name}]}</td>
                <td style='background:{[{contact.color}]}; color:{[{contact.font}]};' ng-if="user.nivel == 1">{[{contact.password}]}</td>

                <td  style='background:{[{contact.color}]}; color:{[{contact.font}]};'>
                
                <button ng-if="user.nivel == 1" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#reasignar" ng-click='Reasignar(contact)'><i class="fa fa-edit"></i></button>
             
                <button ng-if="user.nivel == 1 || user.nivel == 2" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#stop" ng-click='Reasignar(contact)'><i class="fa fa-stop"></i></button>
                <button ng-if="user.nivel == 1 || user.nivel == 2" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#eliminar" ng-click='Reasignar(contact)'><i class="fa fa-trash"></i></button>
                <button class="btn btn-primary btn-sm" ng-click='Admin(contact)'> Administrar <i class="fa fa-chevron-right"></i></button>
               

                </td>




              </tr>


        </tbody>


        </table>


<!---Modal-->


            <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Crear Campaña </h4>
        </div>
        <div class="modal-body">


       
          <div class="row">

                    <form action="/uploadCampania/" method="post"  role="form" enctype="multipart/form-data">

          {% csrf_token %}

          <div class="col-md-12">
          <div class="form-group">
          <label>Importar Data</label>
          <input type="file" required=""  name="process_file">
          </div>
          </div>

          <div class="col-md-12">
          <div class="form-group">
         
          <a class='btn btn-primary btn-sm' href='https://xiencias.com/html/campania.xls'>Plantilla <i class="fa fa-file-excel-o"></i></a>
          </div>
          </div>

          <div class="col-md-12">
          <div class="form-group">
          <label>Nombre de campaña</label>
          <input type="text"  name = 'nombre' class="form-control" placeholder="Nombre" required ="">
          </div>
          </div>

        


        

          <div class="col-md-4">
          <div class="form-group">
          <label>Cartera</label>
          <select name = 'cartera' class="form-control">
          {% for cartera in cartera%}
              <option value='{{cartera.cartera.id}}'>{{cartera.cartera.nombre}}</option>
          {% endfor %}
          </select>
          </div>
          </div>

          <div class="col-md-4">
          <div class="form-group">
          <label>Cantidad de Canales</label>
          <input type="text"  name = 'canales' class="form-control" placeholder="Canales" required ="">
          </div>
          </div>

          <div class="col-md-4">
          <div class="form-group">
          <label>Timbrados</label>
          <input type="text"  name = 'timbrados' class="form-control" placeholder="Timbrados" value = "4" required ="">
          </div>
          </div>


          <div class="col-md-4">
          <div class="form-group">
          <label>Hora de trabajo Inicio</label>
          <input type="time"  name = 'inicio' class="form-control" placeholder="Hora Inicio" required ="" value='08:00'>
          </div>
          </div>

          <div class="col-md-4">
          <div class="form-group">
          <label>Hora de trabajo Fin</label>
          <input type="time"  name = 'fin' class="form-control" placeholder="Hora Fin" required ="" value='19:00'>
          </div>
          </div>

          <div class="col-md-4">
          <div class="form-group">
          <label>Supervisor</label>

          <select name = 'supervisor' class="form-control">
          {% for supervisor in supervisor%}
              <option value='{{supervisor.id}}'>{{supervisor.user.first_name}}</option>
          {% endfor %}
          </select>
         
          </div>
          </div>


              <div class="col-md-4">
          <div class="form-group">
          <label>Discado</label>
          <select ng-change='discadoget(discadom)' name = 'discado' class="form-control" ng-model = 'discadom'>
         
              <option value='1'>Predictivo</option>
              <option value='2'>Progresivo</option>
          
          </select>
          </div>
          </div>



            <div class="col-md-4" ng-show ='discado'>
          <div class="form-group">
          <label>Factor</label>
          <select name = 'factor' class="form-control">
         
              <option value='1'>1</option>
              <option value='2'>2</option>
              <option value='3'>3</option>
              <option value='4'>4</option>
              <option value='5'>5</option>
          
          </select>
          </div>
          </div>

        

           <div ng-show='mpass' class="col-md-4">
          <div class="form-group">
          <label>Clave</label>
          <input type="text"  name = 'password' class="form-control" placeholder="Nombre" required ="" value='{{password}}'>
          </div>
          </div>


          
         <div class="col-md-12">
          <div class="form-group">
       
         <h4>Indicadores de Control (KPI)</h4>
          </div>
          </div>



          <div class="col-md-3">
          <div class="form-group">
          <label>Minutos por llamada (min)</label>
          <input type="text" required=""  class="form-control" name="mxllamada" placeholder = "Minutos por llamada" value='2'>
          </div>
          </div>


          <div class="col-md-3">
          <div class="form-group">
          <label>Llamadas por hora </label>
          <input type="text"  name = 'llamadaxhora' class="form-control" placeholder="Llamadas por hora" required ="" value="25">
          </div>
          </div>

          <div class="col-md-3">
          <div class="form-group">
          <label>Horas hombre objetivo (%)</label>
          <input type="text"  name = 'hombreobjetivo' class="form-control" placeholder="Horas hombre" required ="" value="80">
          </div>
          </div>

          <div class="col-md-3">
          <div class="form-group">
          <label>Tiempo Max Gestion (seg)</label>
          <input type="number"  name = 'tgestion' class="form-control" placeholder="Tiempo gestion" required ="" value="60">
          </div>
          </div>

          

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" type="submit">Agregar</button>
          </form>
          
        </div>
      </div>
    </div>

</div>

<style type="text/css">
  
.confirm .btn .btn-primary{


  background-color: #233;
}


</style>



  <script src="/static/js/angular-route.js"></script>




</body>

</html>