<!DOCTYPE html>

<html lang="en">

{% include "head.html" %}

<script src="/static/js/filtro.js"></script>

<body ng-app="App">

<div class="container" ng-controller="Controller">

{% include "header.html" %}


<div class="row">
{% include "vertical.html" %}

<div class="col-sm-10">


          <div class="jumbotron">

            <div class="row">

              <div class="col-sm-12">
              <h5>{{campania.id}}</h5>
              
              </div>


              <div class="col-sm-6">
              
              <h2>Campaña  {{campania.nombre}} </h2>  
              </div>
              <div class="col-sm-6">
               <h2>Filtro </h2>
              </div>
              <div class="col-sm-6">
               <p>Supervisor : {{campania.supervisor.user.first_name}}</p>
              </div>
              <div class="col-sm-6">
               <p>Timbrados: {{campania.timbrados}}</p>
              </div>

            </div>
             
              
            </div>

            <h4>Selecionar parametros del filtro</h4>

            <div class='row'>

              <div class="col-sm-4">

                  <table class="table table-striped table-condensed table-hover table-bordered">
                      <tbody>
                          <thead>
                          <tr>
                          <th >Status F / Ciudad</th>
                         
                          
                                   
                          </tr>
                          </thead>
                      <tr  ng-repeat="contact in ciudad " class='active' ts-repeat>
                          
                          
                          <td ng-click='statusA(contact)'>{[{contact.nombre}]}</td>
                          
                      </tr>
                      </tbody>
                  </table>

                </div>

                   <div class="col-sm-4">

                  <table class="table table-striped table-condensed table-hover table-bordered">
                      <tbody>
                          <thead>
                          <tr>
                          <th >Status G / Segmento </th>
                         
                          
                                   
                          </tr>
                          </thead>
                      <tr  ng-repeat="contact in segmento " class='active' ts-repeat>
                          
                        
                          <td ng-click='statusB(contact)'>{[{contact.nombre}]}</td>
                          
                      </tr>
                      </tbody>
                  </table>

                </div>
                   <div class="col-sm-4">

                  <table class="table table-striped table-condensed table-hover table-bordered">
                      <tbody>
                          <thead>
                          <tr>
                          <th >Status H / Grupo </th>
                         
                          
                                   
                          </tr>
                          </thead>
                      <tr  ng-repeat="contact in grupo " class='active' ts-repeat>
                          
                        
                          <td ng-click='statusC(contact)'>{[{contact.nombre}]}</td>
                          
                      </tr>
                      </tbody>
                  </table>

                </div>

                <div class="col-sm-4">

                  <table class="table table-striped table-condensed table-hover table-bordered">
                      <tbody>

                      <thead>
                          <tr>
                          <th >Ciudad </th>  
                          <th >Segmento </th>
                          <th >Grupo </th>   
                          </tr>
                      </thead>
                       
                      <tr>
                      <td>{[{filtro.ciudad}]}</td>
                      <td>{[{filtro.segmento}]}</td>
                      <td>{[{filtro.grupo}]}</td>

                      </tr>


                      </tbody>
                  </table>

                </div>

                <div class="col-sm-12">

                <a ng-click="filtrar(filtro)" class="btn btn-primary" >Agregar Filtro</a>

                <br></br>

                </div>
                

                <div class="col-sm-12">

      

                  <table class="table table-striped table-condensed table-hover table-bordered">
                      <tbody>

                      <thead>
                          <tr>
                        
                          <th >Status F / Ciudad </th>
                          <th >Status G / Segmento </th>   
                          <th >Status H / Grupo </th> 
                          <th >Fono por barrer</th>
                          <th >Fono sin exito </th> 
                          </tr>
                      </thead>
                       
                      <tr  ng-repeat="resultado in filtro " class='active' ts-repeat>
                          
                
                      
                      <td>{[{resultado.ciudad}]}</td>
                      <td>{[{resultado.segmento}]}</td>
                      <td>{[{resultado.grupo}]}</td>
                      <td>{[{resultado.cantidad}]}</td>

                      </tr>


                      </tbody>
                  </table>

                </div>

            </div>

            




    


</div>


</div>




</div>



</div>





</body>



</html>
