<!DOCTYPE html>

<html lang="en">

{% include "head.html" %}

<script src="/static/js/filtro.js"></script>

<body ng-app="App" ng-controller="Controller">

<div class='vertical' style="position: absolute;">
  <div class='vertical'> {% include "vertical.html" %} </div>
 
</div>

<div class="container" >


<div id="filtrop" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <div class="modal-content">

      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">    <p>Selecionar parametros del filtro</p></h4>
      </div>

      <div class="modal-body">

              <form ng-submit="filtrado(filtro)">

                  <div class='row'>
                  <div class="col-sm-3">


                     <select required="" class="form-control" id="myselection" multiple="true" ng-model="filtro.resultado" ng-options="c.name for c in resultado"></select>
                      <div class="form-group">
         
                       <label>Estado</label>
                      <ul  ng-repeat="contact in filtro.resultado">
                          <li>{[{contact.name}]}</li>
                      </ul>
                      </div>

                </div>

                <div class="col-sm-3">


                     <select required="" class="form-control" id="myselection" multiple="true" ng-model="filtro.ciudad" ng-options="c.status_f for c in ciudad"></select>
                      <div class="form-group">
         
                       <label>{[{header.statusf}]}</label>
                      <ul  ng-repeat="contact in filtro.ciudad">
                          <li>{[{contact.status_f}]}</li>
                      </ul>
                      </div>

                </div>

                  <div class="col-sm-3">

                         <select required="" class="form-control" id="myselection" multiple="true" ng-model="filtro.grupo" ng-options="c.status_g for c in grupo"></select>
                        <div class="form-group">
           
                        <label>{[{header.statusg}]}</label>
                        <ul  ng-repeat="contact in filtro.grupo">
                            <li>{[{contact.status_g}]}</li>
                        </ul>
                        </div>

      

                   </div>

                  <div class="col-sm-3">

                        <select required="" class="form-control" id="myselection" multiple="true" ng-model="filtro.segmento" ng-options="c.status_h for c in segmento"></select>
                        <div class="form-group">
           
                        <label>{[{header.statush}]}</label>
                        <ul  ng-repeat="contact in filtro.segmento">
                            <li>{[{contact.status_h}]}</li>
                        </ul>

                        </div>

                    </div>

                    </div>
                 




      </div>

                  <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button class="btn btn-primary" type="submit">Agregar</button>
                  </form>
          
        </div>

     
    </div>

  </div>
</div>

<div id="eliminar" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Eliminar filtro</h4>
      </div>

      <div class="modal-body">

      <div class ='row'>

      <div class="col-md-3">
     
      <h4>Desea eliminar filtro :</h4>

      </div>

      <div class="col-md-9">
 
       <table class="table table-striped table-condensed table-hover table-bordered ">
                      <tbody>

                      <thead>
                          <tr>
                        
                          <th >Ciudad </th>
                          <th >Segmento </th>   
                          <th >Grupo </th> 
                          
                          
                          </tr>
                      </thead>
                       
                      <tr>
                          
                
                  
                      <td>{[{model.ciudad}]}</td>
                      <td>{[{model.segmento}]}</td>
                      <td>{[{model.grupo}]}</td>
                     
                      
                  

                      </tr>


                      </tbody>
                  </table>

            </div>

          </div>

      </div>

      <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Cerrar</button>
      <button type="submit" ng-click="eliminarfiltro(model)" class="btn btn-primary">Eliminar</button>
      </div>
    </div>

  </div>
</div>

<div id="activafiltro" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Desea activar el filtro</h4>
      </div>


      <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Cerrar</button>
      <button type="submit" ng-click="eliminarfiltro(model)" class="btn btn-primary">Activar</button>
      </div>
    </div>

  </div>
</div>




{% include "header.html" %}







<!--Cabecera-->
  <div class="panel panel-default">
  <div class="panel-body">
    <div class='row'>
      <div class="col-sm-4"><h4><i class="fa fa-lightbulb-o"></i> Asignacion de Agentes</h4>
      </div>
      <div class="col-sm-4"><h4><i class="fa fa-cube"></i>  Campaña {[{campana}]} </h4>
      </div>
      <div class="col-sm-4"><h4><i class="fa fa-building-o"></i>  Cartera  {[{cartera}]} </h4>
      </div>
    </div>
    
   
  </div>
</div>


        

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filtrop">Crear Filtro</button>


            <div class='row' onmouseover="container()">



                

                <div class="col-sm-12">

      
                <br>
                  <table class="table table-striped table-condensed table-hover ">
                      <tbody>

                      <thead>
                          <tr>
                          
                          <th >Estado </th>
                          <th >Botonera </th>
                          <th >{[{header.statusf}]} </th>
                          <th >{[{header.statusg}]}  </th>   
                          <th >{[{header.statush}]} </th> 
                          <th >Por barrer</th>
                          <th >Sin exito </th> 
                          <th></th>
                          <th></th>
                          </tr>
                      </thead>
                       
                      <tr  ng-repeat="resultado in listafiltros " class='active' ts-repeat>
                          
                      <td>{[{resultado.status}]}</td> 
                      <td>{[{resultado.resultado}]}</td> 
                      <td>{[{resultado.ciudad}]}</td>
                      <td>{[{resultado.segmento}]}</td>
                      <td>{[{resultado.grupo}]}</td>
                      <td style='background:{[{resultado.color}]}; color:{[{resultado.colort}]}'><center>{[{resultado.fonosporbarrer}]} / {[{resultado.total}]}</center></td>
                      <td><center>{[{resultado.fonosinexito}]}</center> </td>
                      
                      <td><a ng-click="eliminar(resultado,$index)" class="btn btn-primary" data-toggle="modal" data-target="#eliminar"><i class="icon-trash"></i> </a></td>

                      <td>
                      <a ng-click="desactivafiltro(resultado,$index)" ng-if="resultado.status == 1" class="btn btn-primary" ><center><i class="fa fa-stop"></i></center></a>
                      

                      <a ng-click="activafiltro(resultado,$index)" ng-if="resultado.status == 0" class="btn btn-primary"  ><center><i class="fa fa-play"></i></center> </a></td>

                      </tr>


                      </tbody>
                  </table>

                </div>

            </div>

            




    








</div>



</div>




<!---Modales-->




</body>



</html>
