<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>HTML5 snake - Canvas Snake Game</title>
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="/static/css/page.css" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Hind:400,500' rel='stylesheet' type='text/css'>

</head>
<body>

 <div id="wrapper">


<div>
  <canvas id="the-game" width="800" height="400" scrolling="no">
</div>



 
<script type="text/javascript" src="/static/js/game.js"></script>

</div>
</body>
</html>