                      <div class='row'>

                          <div class="col-sm-6">
                         
                                <i class="fa fa-user-secret"></i> 
                                
                                {[{contact.agente__user__first_name}]}
                            
                              

                          </div>

                          <div class="col-sm-6">

                            
                               
                                <i class="fa fa-laptop"></i> {[{contact.agente__anexo}]}
                               
                                </div>

                          
                          
                          

                      </div>