
<html lang="en" ng-app="app" class="ng-scope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>PeruCall</title>
<link rel="icon" href="/static/img/icon.jpg">
    <!-- inject-vendor:css -->
    <link rel="stylesheet" href="/static/css/m.css">
    <link rel="stylesheet" href="/static/css/p.css">
  </head>
  <body ng-controller="AppController as app" class="ng-scope">

    <div class="io-background">
    </div>

   <div class="io-site">
        <div class="io-nav" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
            <div class="io-nav-inner" style="transform: matrix(1, 0, 0, 1, 0, 0);">
                <header class="io-nav-header red accent-2" style="width: 250px;">
                    <div class="io-nav-text">
                        <left><div class="io-nav-header-name white-text darken-1" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Hello</div><a href="#" class="io-nav-text" data-toggle="dropdown">{{user.first_name}}</a></left>
                    </div>
                </header>
                <div class="io-navigation ng-scope" du-scroll-container="container" style="transform: matrix(1, 0, 0, 1, 0, 0);">
                    <a href="#section-1" du-smooth-scroll="" du-scrollspy="" class="io-navigation-item waves-effect active">
                        <i class="mdi-social-person red-text accent-2" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"></i>
                        <div class="io-navigation-item-text grey-text darken-1" style="margin-left: 0px; visibility: inherit; opacity: 1;">Usuarios</div>
                    </a>
                    <a href="#section-2" du-smooth-scroll="" du-scrollspy="" ng-click="app.toSection2()" class="io-navigation-item waves-effect">
                        <i class="mdi-action-history purple-text accent-2" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"></i>
                        <div class="io-navigation-item-text grey-text darken-1" style="margin-left: 0px; visibility: inherit; opacity: 1;">Gestión</div>
                    </a>
                    <a href="#section-3" du-smooth-scroll="" du-scrollspy="" ng-click="app.toSection2()" class="io-navigation-item waves-effect">
                        <i class="mdi-av-web green-text accent-2" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"></i>
                        <div class="io-navigation-item-text grey-text darken-1" style="margin-left: 0px; visibility: inherit; opacity: 1;">Reportes</div>
                    </a>
                    <a href="#section-4" du-smooth-scroll="" du-scrollspy="" ng-click="app.toSection2()" class="io-navigation-item waves-effect">
                        <i class="mdi-av-equalizer blue-text accent-2" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"></i>
                        <div class="io-navigation-item-text grey-text darken-1" style="margin-left: 0px; visibility: inherit; opacity: 1;">Grabaciones</div>
                    </a>
                    <a href="#section-5" du-smooth-scroll="" du-scrollspy="" ng-click="app.toSection2()" class="io-navigation-item waves-effect">
                        <i class="mdi-social-school amber-text darken-3" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"></i>
                        <div class="io-navigation-item-text grey-text darken-1" style="margin-left: 0px; visibility: inherit; opacity: 1;">Importar</div>
                    </a>

                </div>
            </div>
        </div>

        <div class="io-container ng-scope" id="container" du-scroll-container="">

            <div class="io-content" id="section-1" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
            	<div class="col s12 io-content-header red accent-2">
                    <h1 class="white-text">Usuarios</h1>
                </div>

            </div>

            <div class="io-content" id="section-2" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                <div class="col s12 io-content-header red accent-2">
                    <h1 class="white-text">Gestión</h1>
                </div>
                
            </div>

            <div class="io-content" id="section-3" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                <div class="col s12 io-content-header red accent-2">
                    <h1 class="white-text">Reportes</h1>
                </div>
                
            </div>

            <div class="io-content" id="section-4" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                <div class="col s12 io-content-header red accent-2">
                    <h1 class="white-text">Grabaciones</h1>
                </div>
            
            </div>

            <div class="io-content" id="section-5" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                <div class="col s12 io-content-header red accent-2">
                    <h1 class="white-text">Importar</h1>
                </div>

            </div>
        </div>
    </div>

    <!-- inject-vendor:js -->
    <script src="/vendor.min-73bda590.js"></script>
    <!-- endinject -->

    <!-- inject:js -->
    <script src="/all.min-cc0d69af.js"></script>
    <!-- endinject -->
    <script>
    </script>
  
<div class="hiddendiv common"></div></body></html>

</body>
</html>

