<!DOCTYPE html>

<html lang="en">

{% include "head.html" %}



<script src="/static/js/monitoreo.js"></script>
<script src="/static/js/chart.js"></script>
<script src="/static/js/angular-chart.js"></script>


<body ng-app="App" ng-controller="Controller">


<div class='vertical' style="position: absolute;">
  <div class='vertical'> {% include "vertical.html" %} </div>
 
</div>


<div class="container" >



{% include "header.html" %}

<script type="text/javascript">
  
jQuery(document).ready(function($) {
    var ws4redis = WS4Redis({
        uri: '{{ WEBSOCKET_URI }}foobar?subscribe-broadcast&publish-broadcast&echo',
        receive_message: receiveMessage,
        heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
    });





    function receiveMessage(msg) {
        console.log('Message from Websocket: ' + msg);
    }
});



</script>


<div class="panel panel-default">
  <div class="panel-body">
     <div class="row" onmouseover="container()">

    <div class="col-sm-3">
    Monitoreo de Agentes
    </div>

    <div class="col-sm-3">
    Campaña {{campania.nombre}}
    </div>
    <div class="col-sm-3">
    Supervisor : {{campania.supervisor.user.first_name}}
    </div>
    <div class="col-sm-3">
    Timbrados: {{campania.timbrados}}
    </div>

    </div>

  </div>
</div>



<div id="eliminar" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Calificacion del agente {[{user.agente__user__first_name}]} </h4>
      </div>
        <div class="modal-body">

                  <div class='row'>

                     <div class="col-sm-3"><center><h5>Criterio</h5></<center>
                     </div>

                     <div class="col-sm-3"><center><h5>Calificación</h5></<center>
                     </div>

                     <div class="col-sm-3"><center><h5>Mensaje</h5></<center>
                     </div>

                     <div class="col-sm-3"><center><h5>Enviar</h5></<center>
                     </div>

                  </div><br>




                  <div class='row'>
                    <ul ng-repeat=" pregunta in preguntas">
                    <div class="col-sm-12">
                        <div class='row'>
                            <div class="col-sm-3">  



                            
                             <p> {[{pregunta.pregunta}]}</p>


                            
                            </div>


                            

                            <div class="col-sm-3">

                            <input type="number" ng-model="pregunta.calificacion" id="input" class="form-control" title="">
                            </div>

                            <div class="col-sm-3">

                            <select required="" class="form-control"  ng-model="pregunta.nota" ng-options="c.tipo for c in nota"></select>
                            </div>

                             <div class="col-sm-3">
                             <center><button type="submit" ng-click="calificar(pregunta,user)" class="btn btn-primary"><i class="fa fa-arrow-right"></i></button></center>
  
                              </div>



                               


                    </div>
                    <br>



                    </ul>

                  </div>  
                 
        </div>

         <div class="modal-footer">
           <button class="btn" data-dismiss="modal">Cerrar</button>
      </div>
    
   



    </div>

  </div>
</div>



<div id="notificacion" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Notificacion al agente {[{user.agente__user__first_name}]} </h4>
      </div>
        <div class="modal-body">

        <textarea class="form-control" rows="5" ng-model="notificacion"></textarea>

                 
        </div>

         <div class="modal-footer">
           <button class="btn" data-dismiss="modal">Cerrar</button>
           <button type="submit" ng-click="notificar(notificacion,user)" class="btn btn-primary">Enviar <i class="fa fa-rocket"></i></a></button>
      </div>
    
   



    </div>

  </div>
</div>




    



             <div class="panel panel-default" onmouseover="container()">
              
                  <div class="panel-body c1">

                      <ul class="legend">
                      <li><span class="superawesome"></span> No Login</li>
                      <li><span class="awesome"></span> Espera</li>
                      <li><span class="kindaawesome"></span> En Llamada</li>
                      <li><span class="notawesome"></span> Descolgado</li>
                      <li><span class="enpause"></span> En Pause</li>
                       <li><span class="engestion"></span> En Gestion</li>
                      </ul>
                  </div>
                </div>

        

          <div class='row' onmouseover="container()">
            <div  ng-repeat="contact in agentes " class='active' ts-repeat>

            <div class="col-sm-2">

                
                <div class="panel panel-default">
                    
                      <div class="panel-heading" ng-if="contact.agente__estado == '1'" style="background-color:#8FB0B3; color:#fff;">
                      {% include "legend.html" %}
                      </div>

                      <div class="panel-heading" ng-if="contact.agente__estado == '2'" style="background-color:#82BF72; color:#fff;">{% include "legend.html" %}</div>

                      <div class="panel-heading" ng-if="contact.agente__estado == '3'" style="background-color:#478BCE; color:#fff;">{% include "legend.html" %}</div>

                      <div class="panel-heading" ng-if="contact.agente__estado == '4'" style="background-color:#D2447A; color:#fff;">{% include "legend.html" %}</div>

                      <div class="panel-heading" ng-if="contact.agente__estado == '5'" style="background-color:#D0CA40; color:#fff;">{% include "legend.html" %}</div>

                      <div class="panel-heading" ng-if="contact.agente__estado == '6'" style="background-color:#A36AA5; color:#fff;">{% include "legend.html" %}</div>


                <div class="panel-body">
                <div class="row">

                    
                          <div class="col-sm-12" ng-if="contact.agente__estado == '3'|| contact.agente__estado == '6' ">
                          <center><i class="flaticon-phone64"></i>  {[{contact.fono}]}</center>
                          </div>

                          <div class="col-sm-6">
                          <center><i class="fa fa-share"></i> {[{contact.agente__atendidas}]}</center>
                          </div>
                          <div class="col-sm-6">
                          <center><i class="fa fa-reply"></i> {[{contact.agente__contactadas}]}</center>
                          </div>

                          <div class="col-sm-6"><center>
                          <a ng-click="evaluar(contact,$index)" class="btn btn-primary" data-toggle="modal" data-target="#eliminar"><i class="fa fa-check"></i></a></center>
                          </div>

                          <div class="col-sm-6"><center>
                          <a ng-click="evaluar(contact,$index)" class="btn btn-primary" data-toggle="modal" data-target="#notificacion"><i class="fa fa-rocket"></i></a></center>
                          </div>

                          <div class="col-sm-12" ng-if="contact.agente__estado == '6'">
                          T. Gestion: {[{contact.tgestion}]}
                          </div>
                         
                          <div class="col-sm-12" ng-if="contact.agente__estado == '6'">
                          <div class="progre">
                          <div class="progressi">

                          <div class="barr" style="width:{[{contact.secgestion}]}px; background-color: {[{contact.color}]};"></div>
                          </div>
                          </div>

                           <!-- <canvas id="doughnut" class="chart chart-doughnut"
                            chart-data="[contact.agente__atendidas,contact.agente__contactadas]" chart-labels="labels">
                            </canvas>
                            <center><h6>Performance</h6></center>
                            <center><h6>{[{contact.agente__contactadas}]} %</h6></center>-->
                          </div>
                      

                  </div>
                </div>
                </div>
                </div>
            </div>

            
   
          
       
  

  </div>


          
            



</div>




</div>


<style type="text/css">
  



</style>





</body>



