<!DOCTYPE html>
<html>
<head>
  <title>Teleoperador</title>
  {% include "head.html" %}
  <script src="/static/js/teleoperador.js"></script>


</head>
<body class="container" ng-app="App" ng-controller="Controller">



<div  id ='cliente' class='container-fluid'>

<script type="text/javascript">

    var ws4redis = WS4Redis({
      uri: '{{ WEBSOCKET_URI }}foobar?subscribe-user',
      receive_message: receiveMessage,
      heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
    });



  function receiveMessage(msg) {

        console.log(msg)

        resp = msg.slice(0,4)
       

        console.log('respuesta',resp)

        if(msg=='llamada'){

          window.location.href = "/teleoperador/"+agente
        }




        if(resp == 'Noti'){

            msg = msg.slice(4,100000)

            swal({   title: "Notificación",   text: msg ,   timer: 1000,   showConfirmButton: false });
    
        }
        if(resp=='Cali'){

           swal({   title: "Calificacion",   text: msg ,   type: "success",   confirmButtonColor: "#b71c1c",   confirmButtonText: "OK",   }, function(){   });
  

        }

        
    }

  

</script>







<div class='row '>

            
              <div class="col-md-12 ">

                      <div class='row '>



                      <div class="col-md-3 panel panel-default">

                          <div class='row panel-body c1'>
                              <div class="col-md-12">
                                 <div class='row'>
                                  <div class="col-md-6"><i class="fa fa-wifi"></i> Teleoperador :
                                  </div>
                                  <div class="col-md-6">{[{datoagente.user__first_name}]} 
                                  </div>
                                  </div>


                              </div>

                              <div class="col-md-12">

                                   <div class='row'>
                                  <div class="col-md-6"><i class="fa fa-laptop"></i> Anexo :
                                  </div>
                                  <div class="col-md-6">{[{datoagente.anexo}]} 
                                  </div>
                                  </div>
                              </div>

                              <div class="col-md-12">

                                  <div class='row'>
                                  <div class="col-md-6"><i class="fa fa-diamond"></i> Estado :
                                  </div>
                                  <div class="col-md-6">{[{datoagente.estado__nombre}]}
                                  
                                  </div>


                                  </div>

                              </div>
                              


                          </div>

                 
                     
                      </div>


                    <div class="col-md-3 panel panel-default" ng-if="datoagente.estado__nombre == 'En gestion'" >


                          <div class='row panel-body c4'>

                              <div class="col-md-12">

                                  <div class='row'>
                                    <div class="col-md-6" >
                                    <i class="fa fa-phone"></i> Telefono
                                    </div>
                                    <div class="col-md-6" >{[{cliente.telefono}]}
                      
                                    </div>

                                    </div>

                       

                               
                              </div>

          
                             


                              <div class="col-md-12" >
                                  <div class='row'>
                                    <div class="col-md-6" >
                                    <i class="fa fa-tasks"></i> {[{conteo}]} seg
                                    </div>
                                    <div class="col-md-6" >
                                    <div class="progre">
                                    <div class="progressi">


                                    <div class="barr" style="width:{[{secgestion}]}px; background-color: {[{color}]};"></div>

                                    </div>
                                    </div>

                                    </div>

                                 </div>


                            </div>

                          

                       


                          </div>

                          
                      </div>

                         <div class="col-md-3 panel panel-default" ng-if="datoagente.estado__nombre == 'En Llamada'">


                          <div class='row panel-body c4'>

                              <div class="col-md-12">

                                  <div class='row'>
                                    <div class="col-md-6" >
                                    <i class="fa fa-phone"></i> Telefono
                                    </div>
                                    <div class="col-md-6" >{[{cliente.telefono}]}
                      
                                    </div>

                                    </div>

                       

                               
                              </div>

                              <div class="col-md-12">

                                  <div class='row'>
                                    <div class="col-md-6" >
                                    <i class="fa fa-phone-square"></i> Tiempo
                                    </div>
                                    <div class="col-md-6" >{[{tllamada}]}
                      
                                    </div>

                                    </div>

                       

                               
                              </div>

               
                          

                       


                          </div>

                          
                      </div>

                      <div class="col-md-3 panel panel-default">

                          <div class='row panel-body c2'>
                              <div class="col-md-12">
                                  <div class='row'>
                                  <div class="col-md-8"><i class="fa fa-wifi"></i> Conectado
                                  </div>
                                  <div class="col-md-4">{[{conectado}]} seg
                                  </div>

                                  </div>

                              </div>

                              <div class="col-md-12">

                                  <div class='row'>
                                  <div class="col-md-8"><i class="fa fa-paper-plane"></i> Atendido
                                  </div>
                                  <div class="col-md-4">{[{atendida}]}
                                  </div>

                                  </div>
                              </div>

                              <div class="col-md-12">

                                  <div class='row'>
                                  <div class="col-md-8"><i class="fa fa-eye"></i> Horas Muertas 
                                  </div>
                                  <div class="col-md-4"> {[{desfase}]}
                                  </div>

                                  </div>

                              </div>
                              


                          </div>

                 
                     
                      </div>

                      <div class="col-md-3 panel panel-default">


                                <div class='row panel-body c3'>
                              <div class="col-md-12">
                                  <div class='row'>
                                  
                                  <div class="col-md-8"><i class="fa fa-phone"></i> Atendidas
                                  </div>
                                  <div class="col-md-4">{[{agente.atendidas}]}
                                  </div>

                                  </div>

                              </div>

                              <div class="col-md-12">

                                  <div class='row'>
                                  <div class="col-md-8"><i class="fa fa-phone-square"></i> Acuerdos  
                                  </div>
                                  <div class="col-md-4">{[{agente.acuerdos}]}
                                  </div>

                                  </div>
                              </div>

                              <div class="col-md-12">

                                  <div class='row'>
                                  <div class="col-md-8"><i class="fa fa-percent"></i> Media  
                                  </div>
                                  <div class="col-md-4"> {[{agente.media}]} %
                                  </div>

                                  </div>

                              </div>
                              


                          </div>

                          
                      </div>

             



                


</div>







</div>



<div class='row' ng-if="datoagente.estado__nombre == 'En Espera'">

<center><iframe src="http://xiencias.com:2000/game" width="1000" height="500" frameborder="NO"></iframe></center>

</div>


<div class='row' ng-if="datoagente.estado__nombre == 'En Llamada' || datoagente.estado__nombre == 'En gestion' ">

    <div class="col-md-4">

    <h3>Acuerdo</h3>


          <div class='row'>

            <div ng-repeat="contact in resultado  ">

             <div class="col-md-6 botonera">

                <div class='row boton'>

                   

                  
                          <div class="col-md-8">
                          {[{contact.name}]}
                          </div>

                          <div class="col-md-4">
                              <span ng-if="contact.name == cliente.resultado__name">
                              <button type="button" ng-click='botonera(contact)' class="btn btn-primary"><i class="fa fa-thumbs-up"></i></button></span>
                              <span ng-if="contact.name != cliente.resultado__name">
                              <button type="button" ng-click='botonera(contact)' class="btn btn-second"><i class="fa fa-thumbs-up"></i></button></span>
                          </div>

                 


                </div>
            

             </div>



            </div>

          </div><br>

          <div class="panel panel-default">


          <div class='panel-body'>


           <a class="btn btn-primary" ng-if="datoagente.estado__nombre == 'En Llamada'" href="/pausa/{[{datoagente.id}]}"><i class="fa fa-pause"></i> Pausa</a>

          <a class="btn btn-primary" ng-if="datoagente.estado__nombre == 'En Pausa'" href="/play/{[{datoagente.id}]}"><i class="fa fa-play"></i> Play </a>

          </div></div>



          

      

    </div>


    <div class="col-md-8">

          <h3> Gestion</h3>

    
           <table class="table">
            
              <tbody>


              <tr><td>Id</td>
              <td>{[{cliente.id}]}</td>
              </tr>


              <tr><td>Campaña</td>
              <td>{[{cliente.campania__nombre}]}</td>
              <td>Status A</td>
              <td>{[{cliente.status_a}]}</td>


              </tr>

              <tr><td>Telefono</td>
              <td>{[{cliente.telefono}]}</td>
              <td>Status B</td>
              <td>{[{cliente.status_b}]}</td>


              </tr>

              <tr><td>Orden</td>
              <td>{[{cliente.orden}]}</td>
              <td>Status C</td>
              <td>{[{cliente.status_c}]}</td>


              </tr>
              <tr><td>Id Cliente</td>
              <td>{[{cliente.orden}]}</td>
              <td>Status D</td>
              <td>{[{cliente.status_d}]}</td>
              </tr>

              
              <tr><td>Acuerdo</td>
              <td>{[{cliente.resultado__name}]}</td>
              <td>Status E</td>
              <td>{[{cliente.status_e}]}</td>
              </tr>

              <tr><td></td>
              <td></td>
              <td>Status F</td>
              <td>{[{cliente.status_f}]}</td>
              </tr>

              <tr><td></td>
              <td></td>
              <td>Status G</td>
              <td>{[{cliente.status_g}]}</td>
              </tr>

              <tr><td></td>
              <td></td>
              <td>Status H</td>
              <td>{[{cliente.status_h}]}</td>
              </tr>

     

              


              </tbody>
            </table>


              <div class="col-md-6">

              <form ng-submit="gestionlanza(gestion)">


              <div class="form-group">
              <label for="">Comentario</label>
              
              <textarea ng-change='tipeo()' required = "" ng-model='gestion.comentario' class="form-control" ></textarea>
              </div>

              <button type="submit" class="btn btn-primary">Guardar</button>
              </form>

              </div>

              <div class="col-md-6 gestion">




            


              <div class="form-group">
              <label for="">Fecha</label>
             <input type="date" name="" ng-model='gestion.fecha'  class="form-control" value="" required="" title="">
              </div>

               <div class="form-group">
              <label for="">Monto Acuerdo</label>
             <input type="number" name="" ng-model='gestion.monto'  class="form-control" value="" required="" title="">
              </div>





              </form>
              </div>



    </div>

     
 





 
 


 





</div>










</div>

<style type="text/css">

body{

  color: #454E58;


}
  
.btn-primary {
  color: #F7F7F7;
  background-color: #b71c1c;
  border-color: #b71c1c;
}

.btn-second {
color: #DD1010;
background-color: #E2E2E2;
border-color: #C6ADAD;
}

.boton {
  /* background: #782; */
  border-color: #DDCCCC;
  /* height: 52px; */
  padding: 7px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}

.botonera {
  padding-top: 3px;
  padding-right: 18px;
}


.container {

margin-top: 1em;
}

.c1 {
padding: 15px;
background-color: #C198B2;
color: #284058;
font-weight: bold;
/* font-size: 14px; */
}


.c2 {
padding: 15px;
/*background-color: #B4B7D2;*/
color: #284058;
font-weight: bold;
}
.c3 {
padding: 15px;
/*background-color: #9EB9A6;*/
color: #284058;
font-weight: bold;
}

.c4 {
padding: 15px;
/*background-color: #D4D8F2;*/
color: #284058;
font-weight: bold;
}






</style>



</body>
</html>