<!DOCTYPE html>
<html>
<head>
  <title>Teleoperador</title>
  {% include "head.html" %}
  <script src="/static/js/teleoperador.js"></script>


</head>
<body class="container" ng-app="App" ng-controller="Controller">



<div  id ='cliente' class='container-fluid animated bounceInRight'>





<div class='row'>

              <div class="col-md-4  ">

                

                  <div class='row'>

                      <div class="col-md-12">
                      <h4>Campaña : {[{cliente.campania__nombre}]}</h4>
                      </div>

                      <div class="col-md-12">
                      <h4>Teleoperador : {[{datoagente.user__first_name}]} </h4>
                      </div>

                      <div class="col-md-12">
                      <h4>Estado : {[{datoagente.estado__nombre}]} </h4>
                      </div>




      
                  </div>



              </div>

              <div class="col-md-8">

                      <div class='row'>

                      <div class="col-md-6">

                        <table class="table">
                              
                              <tbody>
                                <tr>
                                <td>Conectado</td>
                                <td>{[{user.conectado}]}</td>
                                
                               </tr>

                               <tr>
                               <td>Atendidas (seg)</td>
                               <td>{[{atendida}]}</td>
                               </tr>

                               <tr>
                               <td>Desfase</td>
                               <td>{[{desfase}]}</td>
                               </tr>

                              </tbody>
                          </table>
                     
                      </div>

                      <div class="col-md-6">

                          <table class="table">
                              
                              <tbody>
                                <tr>
                                <td>ATENDIDAS</td>
                                <td>{[{agente.atendidas}]}</td>
                                
                               </tr>

                               <tr>
                               <td>ACUERDOS</td>
                               <td>{[{agente.acuerdos}]}</td>
                               </tr>

                               <tr>
                               <td>MEDIA</td>
                               <td>{[{agente.media}]} %</td>
                               </tr>

                              </tbody>
                          </table>


                      </div>


                      <div class="col-md-12">

                          <div class='row'>
                            <div class="col-md-6">
                              <div class="progre">
                              <div class="progressi">

                              <div class="barr" style='width:4px;'></div>

                              </div>
                              </div>

                            </div>
                            <div class="col-md-6">

                              <div class='row'>
                              <div class="col-md-2"><p>{[{tgestion}]}</p>
                              </div>
                              <div class="col-md-10">
                               <div class="progre">
                              <div class="progressi">

                              

                                <div class="barr" style="width:{[{secgestion}]}px; background-color: {[{color}]};"></div>



                       


                              </div>
                              </div>

                              </div>

                              </div>
                              
                             
                            </div>

                          </div>


                      </div>


</div>







</div>


<div class='row'>

    <div class="col-md-4">

    <h3>Acuerdo</h3>


          <div class='row'>

            <div ng-repeat="contact in resultado  ">

             <div class="col-md-6 botonera">

                <div class='row boton'>

                   

                  
                          <div class="col-md-8">
                          {[{contact.name}]}
                          </div>

                          <div class="col-md-4">
                              <span ng-if="contact.name == cliente.resultado__name">
                              <button type="button" ng-click='botonera(contact)' class="btn btn-primary"><i class="fa fa-thumbs-up"></i></button></span>
                              <span ng-if="contact.name != cliente.resultado__name">
                              <button type="button" ng-click='botonera(contact)' class="btn btn-second"><i class="fa fa-thumbs-up"></i></button></span>
                          </div>

                 


                </div>
            

             </div>



            </div>

          </div>

      

    </div>


    <div class="col-md-8">

          <h3> Gestion</h3>

    
           <table class="table animated bounceInRight">
            
              <tbody>
                
             
              <tr><td>Id</td>
              <td>{[{cliente.id}]}</td>
              <td>Status A</td>
              <td>{[{cliente.status_a}]}</td>


              </tr>

              <tr><td>Telefono</td>
              <td>{[{cliente.telefono}]}</td>
              <td>Status B</td>
              <td>{[{cliente.status_b}]}</td>


              </tr>

              <tr><td>Orden</td>
              <td>{[{cliente.orden}]}</td>
              <td>Status C</td>
              <td>{[{cliente.status_c}]}</td>


              </tr>
              <tr><td>Id Cliente</td>
              <td>{[{cliente.orden}]}</td>
              <td>Status D</td>
              <td>{[{cliente.status_d}]}</td>
              </tr>

              
              <tr><td>Acuerdo</td>
              <td>{[{cliente.resultado__name}]}</td>
              <td>Status E</td>
              <td>{[{cliente.status_e}]}</td>
              </tr>

              <tr><td></td>
              <td></td>
              <td>Status F</td>
              <td>{[{cliente.status_f}]}</td>
              </tr>

              <tr><td></td>
              <td></td>
              <td>Status G</td>
              <td>{[{cliente.status_g}]}</td>
              </tr>

              <tr><td></td>
              <td></td>
              <td>Status H</td>
              <td>{[{cliente.status_h}]}</td>
              </tr>

     

              


              </tbody>
            </table>


              <div class="col-md-6">

              <form ng-submit="gestionlanza(gestion)">


              <div class="form-group">
              <label for="">Comentario</label>
              
              <textarea ng-change='tipeo()' ng-model='gestion.comentario' class="form-control" ></textarea>
              </div>

              <button type="submit" class="btn btn-primary">Guardar</button>
              </form>

              </div>

              <div class="col-md-6 gestion">

            


              <div class="form-group">
              <label for="">Fecha</label>
             <input type="date" name="" ng-model='gestion.fecha'  class="form-control" value="" required="" title="">
              </div>

               <div class="form-group">
              <label for="">Monto Acuerdo</label>
             <input type="number" name="" ng-model='gestion.monto'  class="form-control" value="" required="" title="">
              </div>





              </form>
              </div>



    </div>

     
 





 
 


 





</div>










</div>

<style type="text/css">
  
.btn-primary {
  color: #F7F7F7;
  background-color: rgb(183, 28, 28);
  border-color: #b71c1c;
}

  .btn-second{
  color: #DD1010;
  background-color: #E2E2F4;
  border-color: #b71c1c;
}

.boton {
  /* background: #782; */
  border-color: #DDCCCC;
  /* height: 52px; */
  padding: 7px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}

.botonera {
  padding-top: 3px;
  padding-right: 18px;
}





</style>



</body>
</html>