<!DOCTYPE html>
<html>
<head>
  <title>Teleoperador</title>
  {% include "head.html" %}
  <script src="/static/js/teleoperador.js"></script>


</head>
<body class="container" ng-app="App" ng-controller="Controller">


<div  id ='cliente' class='container-fluid animated bounceInRight'>

<div class='row'>

              <div class="col-md-4">

                  <div class='row'>

                      <div class="col-md-12">
                      <h4>Campaña : {[{cliente.campania__nombre}]}</h4>
                      </div>

                      <div class="col-md-12">
                      <h4>Teleoperador : {[{datoagente.user__first_name}]} </h4>
                      </div>

                      <div class="col-md-12">
                      <h4>Estado : {[{datoagente.estado__nombre}]} </h4>
                      </div>



                  </div>



              </div>

              <div class="col-md-8">

                      <div class='row'>

                      <div class="col-md-6">

                        <table class="table">
                              
                              <tbody>
                                <tr>
                                <td>Conectado</td>
                                <td>{[{user.conectado}]}</td>
                                
                               </tr>

                               <tr>
                               <td>Atendidas (seg)</td>
                               <td>{[{atendida}]}</td>
                               </tr>

                               <tr>
                               <td>Desfase</td>
                               <td>{[{desfase}]}</td>
                               </tr>

                              </tbody>
                          </table>
                     
                      </div>

                      <div class="col-md-6">

                          <table class="table">
                              
                              <tbody>
                                <tr>
                                <td>ATENDIDAS</td>
                                <td>{[{agente.atendidas}]}</td>
                                
                               </tr>

                               <tr>
                               <td>ACUERDOS</td>
                               <td>{[{agente.acuerdos}]}</td>
                               </tr>

                               <tr>
                               <td>MEDIA</td>
                               <td>{[{agente.media}]} %</td>
                               </tr>

                              </tbody>
                          </table>


                      </div>


</div>







</div>


<div class='row'>

    <div class="col-md-4">

    <h3>Acuerdo</h3>


          

          <table class="table" id='cliente'>
        
              <tbody>
                
              <tr>

              <td>{[{r1.codigo}]}</td><td>{[{r1.name}]}</td><td>{[{r2.codigo}]}</td><td>{[{r2.name}]}</td>
              <td>{[{contact.codigo}]}</td>
              <td>{[{contact.name}]}</td>


               <td ng-if="contact.name == cliente.resultado__name">

               <button type="button" ng-click='botonera(contact)' class="btn btn-primary"><i class="fa fa-thumbs-up"></i></button>

               </td>

               <td ng-if="contact.name != cliente.resultado__name">

               <button type="button" ng-click='botonera(contact)' class="btn btn-second"><i class="fa fa-thumbs-up"></i></button>

               </td>


             

              </tr>

              </tbody>
            </table>

    </div>


    <div class="col-md-8">

          <h3> Gestion</h3>

    
           <table   class="table animated bounceInRight">
            
              <tbody>
                
             
              <tr><td>Id</td>
              <td>{[{cliente.id}]}</td>
              <td>Status A</td>
              <td>{[{cliente.status_a}]}</td>


              </tr>

              <tr><td>Telefono</td>
              <td>{[{cliente.telefono}]}</td>
              <td>Status B</td>
              <td>{[{cliente.status_b}]}</td>


              </tr>

              <tr><td>Orden</td>
              <td>{[{cliente.orden}]}</td>
              <td>Status C</td>
              <td>{[{cliente.status_c}]}</td>


              </tr>
              <tr><td>Id Cliente</td>
              <td>{[{cliente.orden}]}</td>
              <td>Status D</td>
              <td>{[{cliente.status_d}]}</td>
              </tr>

              
              <tr><td>Acuerdo</td>
              <td>{[{cliente.resultado__name}]}</td>
              <td>Status E</td>
              <td>{[{cliente.status_e}]}</td>
              </tr>

              <tr><td></td>
              <td></td>
              <td>Status F</td>
              <td>{[{cliente.status_f}]}</td>
              </tr>

              <tr><td></td>
              <td></td>
              <td>Status G</td>
              <td>{[{cliente.status_g}]}</td>
              </tr>

              <tr><td></td>
              <td></td>
              <td>Status H</td>
              <td>{[{cliente.status_h}]}</td>
              </tr>

     

              


              </tbody>
            </table>


              <div class="col-md-6">

              <form ng-submit="gestion()">


              <div class="form-group">
              <label for="">Comentario</label>
              <textarea class="form-control" rows="5" id="comment"></textarea>
              </div>



              <button type="submit" class="btn btn-primary">Guardar</button>
              </form>

              </div>

              <div class="col-md-6">

              <form ng-submit="gestion()">


              <div class="form-group">
              <label for="">Fecha</label>
             <input type="date" name="" id="input" class="form-control" value="" required="required" title="">
              </div>

               <div class="form-group">
              <label for="">Monto Acuerdo</label>
             <input type="text" name="" id="input" class="form-control" value="" required="required" title="">
              </div>




              </form>
              </div>



    </div>

     
 





 
 


 





</div>










</div>

<style type="text/css">
  
.btn-primary {
  color: #F7F7F7;
  background-color: rgb(183, 28, 28);
  border-color: #b71c1c;
}

  .btn-second{
  color: #DD1010;
  background-color: #E2E2F4;
  border-color: #b71c1c;
}


</style>



</body>
</html>