<!DOCTYPE html>

<html lang="en">

{% include "head.html" %}

<script src="/static/js/empresa.js"></script>

<body ng-app="App">

<div class="container" ng-controller="Controller">

{% include "header.html" %}

<h4>Datos de la Empresa</h4>

<div class="row">

      <form ng-submit="addNew(currentPage)">

      <div class="col-md-6">
      <div class="form-group">
      <label>Empresa/Cliente</label>
      <input type="text" ng-model="agregar.nombre" class="form-control" placeholder="Nombre" required ="">
      </div>
      </div>

      <div class="col-md-6">
      <div class="form-group">
      <label>Telefono</label>
      <input type="text" ng-model="agregar.telefono" class="form-control" placeholder="Telefono" required =""  >
      </div>
      </div>

      <div class="col-md-6">
      <div class="form-group">
      <label>Licencias</label>
      <input type="text" ng-model="agregar.licencias" class="form-control" placeholder="Licencias" required ="" >
      </div>
      </div>

      <div class="col-md-6">
      <div class="form-group">
      <label>Contacto</label>
      <input type="text" ng-model="agregar.contacto" class="form-control" placeholder="Contacto" required ="" >
      </div>
      </div>

      <div class="col-md-6">
      <div class="form-group">
      <label>Email</label>
      <input type="email" ng-model="agregar.mail" class="form-control" placeholder="Email" required =""  >
      </div>
      </div>

      <div class="col-md-6">
      <div class="form-group">
      <label>Mascara</label>
      <input type="text" ng-model="agregar.mascaras" class="form-control" placeholder="Mascara " required ="" >
      </div>
      </div>
      <br></br>

      <div class="col-md-6">
      <div class="form-group">
      <button class="btn btn-primary" type="submit">Agregar</button>

      </form>

      </div>
      </div>

      


</div>


<div id="edit" class="modal fade" role="dialog">

  <div class="modal-dialog">

    <div class="modal-content">

        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Editar</h4>
        </div>
        <div class="modal-body">

        <div class="row">

        <form ng-submit="saveContact(index,numberPage)">

        <div class="col-md-6">
        <label>Empresa/Cliente</label>
        <input type="text" class="form-control" ng-model="model.nombre" required ="" >
        </div>

        <div class="col-md-6">
        <label>Telefono</label>
        <input type="text" class="form-control" ng-model="model.telefono" required ="" >
        </div>

        <div class="col-md-6">
        <label>Licencias</label>
        <input type="text" class="form-control" ng-model="model.licencias" required ="" >
        </div>

        <div class="col-md-6">
        <label>Contacto</label>
        <input type="text" class="form-control" ng-model="model.contacto" required =""  >
        </div>

        <div class="col-md-6">
        <label>Email</label>
        <input type="text" class="form-control" ng-model="model.mail" required ="" >
        </div>

        <div class="col-md-6">
        <label>Mascara</label>
        <input type="text" class="form-control" ng-model="model.mascaras" required ="" >
        </div>


</div>
</div>


      <div class="modal-footer">
           <button type="submit" class="btn btn-primary">Editar</button>
      </div>

      </form>



    </div>

  </div>
</div>

<div id="eliminar" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Eliminar</h4>
      </div>
        <div class="modal-body">

        <td><input type="hidden" ng-model="model.id" required ="" /></td>
       
        <h4>Desea eliminar empresa {[{model.nombre}]}</h2>
        </div>

        <div class="modal-footer">

            <button class="btn" data-dismiss="modal">Cerrar</button>
            <button type="submit" ng-click="eliminarContact(index,currentPage)" class="btn btn-primary">Eliminar</button>
            

        </div>
    </div>

  </div>
</div>



<h4>Empresas registradas</h4>


      <div class='row'>
      <div class="col-md-4"><input placeholder="Buscar" ng-change="search()"  type="text" ng-model="tipo" class="form-control" ></div>
    </div>
    <br></br>

    Cantidad de Registros {[{contador}]}


    <table class="responstable table" style="width:100%">
    
        <tbody>

            <thead>

            <tr>
                  <th>Id <a ng-click="sort_by('id',currentPage)"><i class="icon-sort"></i></a></th>
                  <th>Nombre <a ng-click="sort_by('nombre',currentPage)"><i class="icon-sort"></i></a></th>
                  <th>Telefono <a ng-click="sort_by('telefono',currentPage)"><i class="icon-sort"></i></a></th>
                  <th>Contacto <a ng-click="sort_by('contacto',currentPage)"><i class="icon-sort"></i></a></th>
                  <th>Mail <a ng-click="sort_by('mail',currentPage)"><i class="icon-sort"></i></a></th>
                  <th>Licencias <a ng-click="sort_by('licencias',currentPage)"><i class="icon-sort"></i></a></th>
                  <th>Mascaras <a ng-click="sort_by('mascaras',currentPage)"><i class="icon-sort"></i></a></th>
                  <th></th>
                  <th></th>
                        
            </tr>

            </thead>


              <tfoot>
                    <td colspan="6">
                        <div class="pagination pull-right">
                            <ul>
                                <li ng-class="{disabled: currentPage == 0}">
                                    <a href ng-click="prevPage()">« Prev</a>
                                </li>
                                <li ng-repeat="n in range(pagedItems.length)"
                                    ng-class="{active: n == currentPage}"
                                ng-click="setPage()">
                                    <a href ng-bind="n + 1">1</a>
                                </li>
                                <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                    <a href ng-click="nextPage()">Next »</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tfoot>



              <tr  ng-repeat="contact in pagedItems[currentPage]  " ts-repeat>

                <td data-th="Origen">{[{contact.id}]} </td>
                <td data-th="Origen">{[{contact.nombre}]} </td>
                <td data-th="Destino">{[{contact.telefono}]}</td>
                <td data-th="Calldate">{[{contact.contacto}]}</td>
                <td data-th="Disposition">{[{contact.mail}]}</td>
                <td data-th="Duration">{[{contact.licencias}]}</td>
                <td data-th="Billsec">{[{contact.mascaras}]}</td>

                <td>

                <button type="button" class="btn btn-primary" ng-click="editContact(contact,$index,currentPage)" data-toggle="modal" data-target="#edit">Editar</button>

                <button type="button" class="btn btn-primary" ng-click="editContact(contact,$index,currentPage)"  data-toggle="modal" data-target="#eliminar">Eliminar</button>

  
         
    

              </td>


           
                

            

              </tr>


        </tbody>


        </table>


      </div>












</body>

</html>