


  
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li id="adminCampania" class="active"><a href="/adminCampania/{{campania.id}}"><i class="fa fa-paper-plane-o"></i> Agentes </a></li>
            <li id="monitoreo"><a href="/monitoreo/{{campania.id}}"><i class="fa fa-database"></i> Monitoreo </a></li>
            <li id="filtros"><a href="/filtros/{{campania.id}}"><i class="fa fa-filter"></i> Filtros </a></li>
            <li id="reportes"><a href="/reportes/{{campania.id}}"><i class="fa fa-cube"></i> Reportes </a></li>
          
         
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
 






<style type="text/css">

.vertical {
  position: absolute;
  left: -20em;
  top: 3px;
  width: 12em;
  height: 10em;
  z-index:100px;
  -webkit-animation: slide 0.1s forwards;
  -webkit-animation-delay: 0.1s;
  animation: slide 0.1s forwards;
  animation-delay: 0.1s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}




  
/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
      padding: 20px;
      margin-left: 22px;
  }
}


</style>

<script type="text/javascript">

  $( "li" ).removeClass( "active" )

  if (($(location).attr('href').split('/')[3]) =='adminCampania'){

    $( "#adminCampania" ).addClass( "active" )
  }

  if (($(location).attr('href').split('/')[3]) =='monitoreo'){

    $( "#monitoreo" ).addClass( "active" )
  }

    if (($(location).attr('href').split('/')[3]) =='filtros'){

    $( "#filtros" ).addClass( "active" )
  }

  if (($(location).attr('href').split('/')[3]) =='reportes'){

    $( "#reportes" ).addClass( "active" )
  }

  i=0
  function ocultarmenu(){

    console.log('holaalal')
    i=i+1

    if (i%2 == 0){

        $('.vertical').css( "display","block");

    }
    else{

      $('.vertical').css( "display","none");

    

    }

      

   


    console.log(i)

    
  }
      

</script>


