
    <div class='izquierda ' >
    
    <div  class='itemvertical1'  ng-click='agente()' onmouseover='comenzar()'>

 
      
    <div class='iconvertical1'><i class='fa fa-user-secret'></i></div>

    </div>


    <div  class='itemvertical2' ng-click= 'monitor()' onmouseover='mbase()'>
      
      <div class='iconvertical2'><i class='fa fa-bar-chart'></i></div>
    </div>
    <div  class='itemvertical3' onclick= 'filtro()' onmouseover='mlote()'>
 
      <div class='iconvertical3'><i class='fa fa-filter'></i></div>
    
    </div>



    </div>
<!--
  
    <div class="sidebar-nav" ng-if="user.nivel == 1 || user.nivel == 2 || user.nivel == 4 ">
      <div class="navbar navbar-default" role="navigation" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li id="adminCampania" class="active"><a href="/adminCampania/{{campania.id}}"><i class="fa fa-paper-plane-o"></i> Agentes </a></li>
            <li id="monitoreo"><a href="/monitoreo/{{campania.id}}"><i class="fa fa-database"></i> Monitoreo </a></li>
            <li id="filtros"><a href="/filtros/{{campania.id}}"><i class="fa fa-filter"></i> Filtros </a></li>
            
         
          </ul>
        </div>
      </div>
    </div>-->




<script type="text/javascript">
  
  function agente(){

    console.log('ssss')

    window.location('/adminCampania/{{campania.id}}')
  }

  function monitor(){

  }

  function filtro(){


  }

</script>

