


  <div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li id="adminCampania" class="active"><a href="/adminCampania/{{campania.id}}">Agentes </a></li>
            <li id="monitoreo"><a href="/monitoreo/{{campania.id}}">Monitoreo </a></li>
            <li><a href="#">Filtros </a></li>
            <li><a href="#">Reportes </a></li>
            <li><a href="#">Admin </a></li>
            <li><a href="#">Mis Campañas <span class="badge">1,118</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>






<style type="text/css">
  
/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
  
</style>

<script type="text/javascript">

  $( "li" ).removeClass( "active" )

  if (($(location).attr('href').split('/')[3]) =='adminCampania'){

    $( "#adminCampania" ).addClass( "active" )
  }

    if (($(location).attr('href').split('/')[3]) =='monitoreo'){

    $( "#monitoreo" ).addClass( "active" )
  }

      

</script>