

    

	 
        <div class='row'>
        <div class="col s3 m3"><input placeholder="Buscar" ng-change="search()"  type="text" ng-model="tipo" class="form-control" ></div>
        </div>




    Cantidad de Registros {{contador}}


     <table class="responstable" style="width:100%">
    
        <tbody>

            <thead>

            <tr>
                <th>Nombre <a ng-click="sort_by('nombre',currentPage)"><i class="icon-sort"></i></a></th>
                <th>Telefono <a ng-click="sort_by('telefono',currentPage)"><i class="icon-sort"></i></a></th>
                <th>Contacto <a ng-click="sort_by('contacto',currentPage)"><i class="icon-sort"></i></a></th>
           		<th>Mail <a ng-click="sort_by('mail',currentPage)"><i class="icon-sort"></i></a></th>
                <th>Licencias <a ng-click="sort_by('licencias',currentPage)"><i class="icon-sort"></i></a></th>
                <th>Mascaras <a ng-click="sort_by('mascaras',currentPage)"><i class="icon-sort"></i></a></th>
                <th></th>
           		<th></th>
                            
            </tr>

            </thead>

              <tfoot>
                    <td colspan="6">
                        <div class="pagination pull-right">
                            <ul>
                                <li ng-class="{disabled: currentPage == 0}">
                                    
                                    <a ng-click="prevPage()" class="waves-effect waves-light btn blue "><i class="material-icons">keyboard_arrow_left</i></a>
                                </li>
                                <li ng-repeat="n in range(pagedItems.length)"
                                    ng-class="{active: n == currentPage}"
                                ng-click="setPage()">
                                    <a href ng-bind="n + 1">1</a>
                                </li>
                                <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                   
                                    <a ng-click="nextPage()" class="waves-effect waves-light btn blue"><i class="material-icons">keyboard_arrow_right</i></a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tfoot>



              <td  ng-repeat="f in fields" class='active' ts-repeat>{{f}}</td>

              <tr  ng-repeat="contact in pagedItems[currentPage] | orderBy:sortingOrder:reverse" class='active' ts-repeat>

   

       
                <td data-th="Origen">{{contact.nombre}} </td>
                <td data-th="Destino">{{contact.telefono}}</td>
                <td data-th="Calldate">{{contact.contacto}}</td>
                <td data-th="Disposition">{{contact.mail}}</td>
                <td data-th="Duration">{{contact.licencias}}</td>
                <td data-th="Billsec">{{contact.mascaras}}</td>

                <td>
               <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

                <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
                </td>

            

              </tr>


        </tbody>


        </table>



  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
         

<script type="text/javascript">
    
      $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
</script>
